# Copyleft (ɔ) 2021 Mauko Quiroga <mauko@pm.me>
#
# Licensed under the EUPL-1.2-or-later
# For details: https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12

*.pyc
.coverage*
.hypothesis
.mypy_cache
.nox
.nox
.pytest_cache
.pytype
.robot
dist
docs/_build
